body {
	font-family: 'Muli', sans-serif;/*'Muli', sans-serif;*/
	/* background: #3fa647;*/
	height: 100%;
	background: -moz-linear-gradient(top, #ffffff, #122625);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#122625));
	color: #000000;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	height: 100%;
}

body ul {
	color: #aaaaaa;
}

a {
	color: #3fa647;
	text-decoration: none;
}

a:hover {
	color: #3a0667;
}




/* -------------------------------HEADER--------------------------------------------- */
header {
	height: 42px;
	width: 100%;
	position: static;
	/*background: #122625 url(../images/hdr5.png) repeat-x left 0;*/
	background: #122625;
	box-shadow: 0 0.3em 0.3em #000000;
	color: #d7d7d7;
	font-family: "Arial Black", Gadget, sans-serif;
	margin-bottom: 20px;
}

header nav img {
	margin-top: -5px;
}

header nav {
	color: #F2F2F2;
	width: 850px;
	margin-left: 19%;
}

header nav ul {
	margin-top: 12px;
	height: 40px;
	margin-left: 5%;
}

header nav ul li {
	float: left;
	display: inline;
	margin-right: 15px;
	margin-top: 10px;
	height: 20px;
	font-family: "Trebuchet MS", Helvetica, Jamrul, sans-serif;
	font-size: 18px;
	padding-top: 0px;
	text-align: center;
}

header nav a {
	color: #ffffff;
	text-decoration: none;
}

header ul li a:hover {
	color: #3fa647;
	text-decoration: none
}


/* -------------------------------Footer--------------------------------------------- */
footer {
	height: 49px;
	width: 100%;
	position: static;
	/*background: #122625 url(../images/hdr5.png) repeat-x left 0;*/
	background: #122625;
	box-shadow: 0 0.3em 0.8em #000000;
	color: #d7d7d7;
	font-family: "Arial Black", Gadget, sans-serif;
}

footer small {
	color: #C0C0C0;
	position: absolute;
	bottom: -30px;
	margin-left: 35%;

}

footer small a {
	color: #ffffff;
	text-decoration: none;
}

footer small a:hover {
	color: #3fa647;
}

/* -------------------------------Tabs--------------------------------------------- */
.tabs {
	position: relative;
	margin: 60px auto;
	width: 870px;
}

.tabs input {
	position: absolute;
	z-index: 1000;
	width: 120px;
	height: 40px;
	left: 0px;
	top: 0px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	cursor: pointer;
}
.tabs input#tab-2 {
	left: 120px;
}

.tabs input#tab-3 {
	left: 240px;
}

.tabs input#tab-4 {
	left: 360px;
}

.tabs label {
	background: #ffffff;
	font-size: 12px;
	line-height: 40px;
	height: 30px;
	position: relative;
	padding: 0 20px;
	float: left;
	display: block;
	width: 80px;
	color: #ffffff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 3px 3px 0 0;
	box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
	color: #000000;
}

.tabs label:after {
	content: '';
	/*background: #122625;*/
	background: #ffffff;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}

.tabs input:hover + label {
	/*background: #126620;*/
	background: #ffffff;
}

.tabs label:first-of-type {
	z-index: 4;
	box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.tab-label-2 {
	z-index: 3;
}

.tab-label-3 {
	z-index: 2;
}

.tab-label-4 {
	z-index: 1;
}

.tabs input:checked + label {
	/*background: #122625;*/
	background: #ffffff;
	z-index: 6;
}

.clear-shadow {
	clear: both;
}

.content {
	/*background: #122625;*/
	background: #ffffff;
	position: relative;
	width: 100%;
	height: 370px;
	z-index: 5;
	/* box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);*/
	box-shadow: 0 0.3em 0.8em #000000;
	border-radius: 0 3px 3px 3px;
}

.content ul li:before {
	color: #FF0000;
	content: "--";
	font-family: Monaco,"Bitstream Vera Sans Mono","Lucida Console",Terminal,monospace;
	font-size: 15px;
	font-weight: bold;
	line-height: 16px;
	margin-left: -55px;
	margin-right: 10px;
}

.content ul li {
	font-size: 14px;
	list-style: none outside none;
}

.content ul li a {
	color: #000000;
	font-size: 14px;
	text-decoration: none;
}

.content ul li a:hover {
	color: #3fa647;
	font-size: 14px;
	text-decoration: none;
}

.content ul li h5 {
	color: #7C334F;
	display: inline;
	font-weight: bold;
}

.content div {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 40px;
	z-index: 1;
	opacity: 0;

	-webkit-transition: opacity linear 0.1s;
	-moz-transition: opacity linear 0.1s;
	-o-transition: opacity linear 0.1s;
	-ms-transition: opacity linear 0.1s;
	transition: opacity linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4 {
	z-index: 100;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition: opacity ease-out 0.2s 0.1s;
	-moz-transition: opacity ease-out 0.2s 0.1s;
	-o-transition: opacity ease-out 0.2s 0.1s;
	-ms-transition: opacity ease-out 0.2s 0.1s;
	transition: opacity ease-out 0.2s 0.1s;
}

.content div h2,
.content div h3 {
	color: #398080;
}

.content div p {
	font-size: 14px;
	line-height: 22px;
	font-style: italic;
	text-align: left;
	margin: 0;
	color: #777;
	padding-left: 15px;
	font-family: Cambria, Georgia, serif;
	border-left: 8px solid rgba(63,148,148, 0.1);
}

.container {
	margin-left: 0.2%;
}


/* -------------------------------Carousel--------------------------------------------- */

.carousel {
	border: 10px solid #ffffff;
	box-shadow: 0 0.3em 0.8em #000000;
	margin: 0 auto;
	padding: 0;
}

/* horizontal */
.horizontal {
	width: 850px;
	position: relative;
	overflow: hidden;
}

.horizontal .items {
	width: 3400px;
	-webkit-animation: hscroll 20s infinite;
	-moz-animation: hscroll 20s infinite;
	-ms-animation: hscroll 20s infinite;
	animation: hscroll 20s infinite;
}

.horizontal .item {
	margin: 0;
	float: left;
	width: 850px;
}

/*
/* The keyframes calculations are based on assumption of 4 items in the carousel.
/* You should notice the pattern for your own calculations.
*/
@-webkit-keyframes hscroll {
	0%, 18.75%  { margin-left: 0 }
	25%, 43.75% { margin-left: -850px; }
	50%, 68.75% { margin-left: -1700px; }
	75%, 93.75% { margin-left: -2550px; }
	100%  { margin-left: 0 }
}
@-moz-keyframes hscroll {
	0%, 18.75%  { margin-left: 0 }
	25%, 43.75% { margin-left: -850px; }
	50%, 68.75% { margin-left: -1700px; }
	75%, 93.75% { margin-left: -2550px; }
	100%  { margin-left: 0 }
}
@-ms-keyframes hscroll {
	0%, 18.75%  { margin-left: 0 }
	25%, 43.75% { margin-left: -850px; }
	50%, 68.75% { margin-left: -1700px; }
	75%, 93.75% { margin-left: -2550px; }
	100%  { margin-left: 0 }
}
@keyframes hscroll {
	0%, 18.75%  { margin-left: 0 }
	25%, 43.75% { margin-left: -850px; }
	50%, 68.75% { margin-left: -1700px; }
	75%, 93.75% { margin-left: -2550px; }
	100%  { margin-left: 0 }
}

