body {
    background-image: url(../images/pattern-13qb.png);
    background-position: left top;
    background-repeat: repeat-x repeat-y;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
        margin-top: -15px;
	background: #222;
    }
   .navbar-right{
       background: #222;
   }
}

h1 {
  font-size: 31.5px;
}

h2 {
  font-size: 22px;
}

#container-main {
    margin:40px auto 40px auto;
    width:870px;
    display:block;
}

#container-feed, #forum {
    position: relative;
    margin: 40px auto 40px auto;
    width: 870px;
    background: #ffffff;
    color: #333333;
}

#forum {
    height: 870px;
}

#forum-frame {
    padding: 0 0 0 0;
    height: 100%;
    width: 100%;
    border:none;
}

.post {
    padding-right: 10px;
    padding-top: 2px;
}

.post h1 a {

    color: #333333;
    text-decoration:none;
}

.post:last-child {
    border-bottom: none;
    padding-bottom: 8px;
}

.post-header {
    font-size: 24px;
    font-weight: bold;
}

.carousel {
    margin-top: 20px;
}

.info {
    color: #999999;
    text-align: center;
    margin-top: 10px;
}


#feed {
    float: right;
}

#feed img {
    height: 24px;
    width: 24px;
}

#inner {
    width: 50%;
    margin: 0 auto;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}