<!DOCTYPE html>
<html lang="ru">
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
     <title>OdHUG - официальный сайт</title>
     <link rel="shortcut icon" href="/images/favicon.ico"> 
     <link rel="stylesheet" type="text/css" href="css/default.css" />
     <link rel="stylesheet" type="text/css" href="css/blog.css" />
     <link href="../../../css/article.css" rel="stylesheet" type="text/css"/>
     <link rel="alternate" type="application/rss+xml" title="OdHUG" href="/rss.xml" />
     <link href='http://fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
     <script type="text/javascript" src="js/modernizr.custom.04022.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul class="inds">	
      	  <li><a href="index.html">Главная</a></li>
	  <li><a href="blog.html">Блог</a></li>
	  <li><a href="forum.html">Форум</a></li>
        </ul>
      </nav>
    </header>

    $body$

    <footer></footer>
  </body>
</html>

    
