<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google-site-verification" content="eIvAEJ4hPuNkAev_6nkg5eJwb6bee8wpw-HUrgf--pI" />
    <meta content="OdHUG" name="author">
    <meta content="Odessa Haskell User Group, Haskell, Odessa, Одесса,функциональное программирование, software, OdHUG, community, fp, сообщество, display" name="keywords">
    <meta content="Официальный сайт Одесской группы пользователей Haskell" name="description">
    <meta content="all" name="robots">
    
    <title>$title$</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="alternate" type="application/rss+xml" title="OdHUG" href="/rss.xml" />
    
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>    
    <script src="js/events.js"></script>
    <script src="js/our.js"></script>
    
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner" >
        <div class="container">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="brand">OdHUG</a>
          <div class="nav-collapse collapse">
            <ul class="nav nav-pills">
              <li class="">
                <a href="/">Главная</a>
              </li>
              <li class="">
             
                <a href="/blog.html">Блог</a>
              </li>
              <li class="">
                <a href="https://groups.google.com/forum/#!forum/odhug">Форум</a>
              </li>
            </ul>
          </div>
             <a class="brand" id="feed" href="/rss.xml"> <img src="/images/feed.svg"></a>
        </div>
      </div>
    </div>
    $body$
    <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="info">
          <p>Разработано с помощью Haskell, <a href="http://jaspervdj.be/hakyll/">Hakyll</a> и <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> </p>
        </div>
      </div>
    </div>
  </body>
</html>
