<div class="carousel horizontal">
  <div class="items">
    <img class="item" src="/images/one.jpg" />
    <img class="item" src="/images/two.jpg" />
    <img class="item" src="/images/three.jpg" />
    <img class="item" src="/images/four.jpg" />
  </div>
</div>

<div class="container">
  <section class="tabs">       
    <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
    <label for="tab-1" class="tab-label-1">Интро</label>
    <div class="clear-shadow"></div>

    <div class="content">
      <div class="content-1">
        <h4><p>
            Одесская группа пользователей Haskell (Odessa Haskell User Group - OdHUG) молодое сообщество,
            основанное в мае 2012 года. Общество стремится объеденить Haskell энтузиастов в Одессе. Воодушевить других программистов начать применять Haskell в каждодневной работе. Мы приветствуем, программистов, любителей, исследователей поделится своим опытом в ежемесячных встречах, в рамком дружественной атмосферы. Как и любое другое растущее сообщество, OdHUG преследует амбициозные цели и стремится не только к обсуждению различных тем о Haskell, но и улучшению общей среды разработки, путем организации Хакатонов.
        </p></h4>     
        <h4><p>
            Если вы живете в Одессе или проездом в нашем замечательном городе. У вас есть чем поделится или вы просто хотите узнать что-то интересное о Haskell, мы рады вас видеть на встречах. Подписывайтесь на рассылку группы и следите за анонсами.
        <p></h4>
      </div>
    </div>
  </section>
</div>
<footer>
<footer>
