<script type="text/javascript" src="/events.js"></script>
<div class="container-fluid" id="container-main">
  <div class="left">
    <h2>Предстоящие события</h2>
    <div id="fevents"></div>
    <h2>Последнее событие</h2>
    <div id="pevents"></div>
    <h2>О нас</h2>
    <div>
      $about$
    </div>
  </div>
  <div class="right">
    <div class="carousel horizontal">
      <div class="items">
	$images$
	<!-- <img class="item" src="/images/four.jpg" /> -->
      </div>
    </div>
  </div>
</div>
