<div id="container-main" class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-md-12">
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          $images$
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <h1>О нас</h1>
      $about$
      <h3>Подпишись на обновления</h3>
      <div class="social">
	<a href=""><img src="images/social/Twitter.png"></a>
	<a href=""><img src="images/social/Facebook.png"></a>
	<a href=""><img src="images/social/vk.png"></a>
	<a href=""><img src="images/social/Google+.png"></a>
	<a href=""><img src="images/social/Feed.png"></a>
      </div> 
    </div>
    <div class="col-sm-6 col-md-6">
      <h1>Предстоящие события</h1>
      <div id="fevents"></div>
      <h1>Последнее событие</h1>
      <div id="pevents"></div>
    </div>
  </div>
</div>
